#show-something {
  display: none;
}

body {
  background-image: url("../img/wallpaper.jpg");
}

h1 {
  display: inline;
  position: relative;
  font: 50px Helvetica, Sans-Serif;
  /*letter-spacing: -5px;*/
  color: rgba(0,0,255,0.5);
}

h1:after {
  position: absolute; left: -5px; top: 2px;
  color: rgba(255,0,0,0.5);
  content: "NOW THATS WHAT I CALL BANK";
}
