.col-centered{
    float: none;
    margin: 0 auto;
}
div.game {
    padding:5% 10% 5% 10%;
    text-align: center;
}
 button{
   height:4em;
   width:4em;
 }

img{
    max-height:4em;
    margin:.2em;
}
